Assignments/Assignment5/clickstream-data/featnames.csv
Assignments/Assignment5/clickstream-data/testfeat.csv
Assignments/Assignment5/clickstream-data/testlabs.csv
Assignments/Assignment5/clickstream-data/trainfeat.csv
Assignments/Assignment5/clickstream-data/trainlabs.csv
Assignments/Assignment5/data/test
Assignments/Assignment5/data/train
Assignments/Assignment5/index/test.index
Assignments/Assignment5/index/train.index
